#   ____  ____   _____
#  / __ \|  _ \ / ____|
# | |  | | |_) | |     ___  _ __ ___
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## FiveM Documentation
## https://aka.cfx.re/server-commands

## QBCore Documentation
## https://docs.qbcore.org

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "none"
sets tags "grri, indonesia, roleplay, garuda, garuda revolution"

## You MAY edit the following:
sv_licenseKey "cfxk_1QSCA4Rw2UB7z2k8UQ5zJ_eV9V9"
sv_hostname "GARUDA REVOLUTION ROLEPLAY INDONESIA"
sets sv_projectName "[QBCore Framework] GARUDA REVOLUTION ROLEPLAY INDONESIA | RESPECT & ATTITUDE"
sets sv_projectDesc "GARUDA REVOLUTION ROLEPLAY INDONESIA | RESPECT & ATTITUDE"
sets locale "id-ID"
load_server_icon myLogo.png
set sv_enforceGameBuild 2802
# set mysql_connection_string "mysql://root@localhost/QBCoreFramework_725C61?charset=utf8mb4"
set mysql_connection_string "server=43.133.142.235;uid=fivemm;password=Ajieb1234;database=QBCoreFramework_725C61"

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

# QBCore locale config
setr qb_locale "id"

# QBCore UseTarget
setr UseTarget true

# These resources will start by default.
ensure mapmanager
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# QBCore & Extra stuff
ensure qb-core
ensure okokChat
exec @ox_inventory/config.cfg
ensure ox_inventory
ensure ox_lib
ensure [qb]
ensure [standalone]
ensure [voice]
ensure [defaultmaps]
ensure gr-loading-screen
ensure [car_custom]
ensure [gr-custom]

exec maps.cfg

ensure ps-hud

## Permissions ##
add_ace group.admin command allow # allow all commands
add_principal identifier.fivem:10653311 group.god #EXNMXM

# Resources
add_ace resource.qb-core command allow # Allow qb-core to execute commands

# Gods
add_ace qbcore.god command allow # Allow all commands

# Inheritance
add_principal qbcore.god group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal qbcore.god qbcore.admin # Allow gods access to admin commands
add_principal qbcore.admin qbcore.mod # Allow admins access to mod commands
